.you-got-mail {
  display: inline-block;
  padding-left: 16px;
}
.inside-you-got-mail {
  color: rgba(0, 0, 0, .87);
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.secret-image {
  display: inline-block;
  padding-left: 16px;
}
.inside-secret-image {
  color: rgba(0, 0, 0, .87);
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
